# Pyhton com SQL
Práticas de SQL com Python

In [1]:
#importando a biblioteca para manipulação do banco de dados
import sqlite3

In [2]:
#Criando a conexão com a base de dados
conexao = sqlite3.connect("Banco_Dados")

In [3]:
#Apontar para o banco
#sempre utilizaremos o cursor para realizar as queries
cursor = conexao.cursor()

In [4]:
#Criando uma tabela
cursor.execute(
    'CREATE TABLE Minha_Tabela(Data text,Nome text,Idade real)'
)
#Fazer um commit
conexao.commit()

INSERT INTO

In [5]:
cursor.execute('INSERT INTO Minha_Tabela VALUES ("01/01/2021","Wesley","27")')

In [6]:
#importando random
import random

In [7]:
random.randint(10,20)

10

In [8]:
for loop in range(10):
  numero = random.randint(10,20)
  cursor.execute(f'INSERT INTO Minha_Tabela VALUES ("01/01/2021","Wesley", {numero} )')

## SELECT

In [9]:
consulta = cursor.execute('SELECT * FROM Minha_Tabela').fetchall()
print(consulta)

[('01/01/2021', 'Wesley', 27.0), ('01/01/2021', 'Wesley', 18.0), ('01/01/2021', 'Wesley', 13.0), ('01/01/2021', 'Wesley', 15.0), ('01/01/2021', 'Wesley', 11.0), ('01/01/2021', 'Wesley', 20.0), ('01/01/2021', 'Wesley', 20.0), ('01/01/2021', 'Wesley', 15.0), ('01/01/2021', 'Wesley', 11.0), ('01/01/2021', 'Wesley', 17.0), ('01/01/2021', 'Wesley', 17.0)]

In [10]:
consulta2 = cursor.execute('SELECT Nome,Idade FROM Minha_Tabela').fetchall()
for linha in consulta2:
  print(linha)

('Wesley', 27.0)
('Wesley', 18.0)
('Wesley', 13.0)
('Wesley', 15.0)
('Wesley', 11.0)
('Wesley', 20.0)
('Wesley', 20.0)
('Wesley', 15.0)
('Wesley', 11.0)
('Wesley', 17.0)
('Wesley', 17.0)

In [ ]:
consulta3 = cursor.execute('''
SELECT * FROM Minha_Tabela
Where Nome = 'Pedro'
''').fetchall()
print(consulta3)

[]

In [11]:
consulta4 = cursor.execute('''
SELECT * FROM Minha_Tabela
Where Idade > 25
''').fetchall()
print(consulta4)

[('01/01/2021', 'Wesley', 27.0)]

In [12]:
#BETWEEN
consulta5 = cursor.execute('''
SELECT * FROM Minha_Tabela
Where Idade  BETWEEN 15 AND 30
''').fetchall()
for Linha in consulta5:
  print(Linha)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 18.0)
('01/01/2021', 'Wesley', 15.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 15.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)

## LIKE
Procura um padrão específico em uma linha
Há dois tipos usados com operador
1- (%) Apresenta zero, um ou vários caracteres ao lado
2- (_) Apresenta um único caractere

In [17]:
consulta6 = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE'%sl%'
    '''
).fetchall()
for linha in consulta6:
  print(linha)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 18.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 15.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 15.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)

### IN

In [18]:
#O operador IN é um atalho para várias condições OR
#Nesse caso ele vai selecionar todas as idades com 18,20 e 30. Fica muito mais rápido  que OR
consulta7 = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade IN(18,20,30)
    '''
).fetchall()
for linha in consulta7:
  print(linha)

('01/01/2021', 'Wesley', 18.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 20.0)

###AND, OR, NOT

In [19]:
#AND
consulta = cursor.execute(
    '''
    SELECT *FROM Minha_Tabela
    WHERE Idade = 20 AND Nome = 'Wesley'
    '''

).fetchall()
print(consulta)

[('01/01/2021', 'Wesley', 20.0), ('01/01/2021', 'Wesley', 20.0)]

In [23]:
#OR
#AND
consulta = cursor.execute(
    '''
    SELECT *FROM Minha_Tabela
    WHERE Idade = 20 OR Nome = 'Wesley'
    '''

).fetchall()
for x in consulta:
  print(x)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 18.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 15.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 15.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)