# Pyhton com SQL
Práticas de SQL com Python

In [1]:
#importando a biblioteca para manipulação do banco de dados
import sqlite3

In [2]:
#Criando a conexão com a base de dados
conexao = sqlite3.connect("Banco_Dados")

In [3]:
#Apontar para o banco
#sempre utilizaremos o cursor para realizar as queries
cursor = conexao.cursor()

In [4]:
#Criando uma tabela
cursor.execute(
    'CREATE TABLE Minha_Tabela(Data text,Nome text,Idade real)'
)
#Fazer um commit
conexao.commit()

INSERT INTO

In [5]:
cursor.execute('INSERT INTO Minha_Tabela VALUES ("01/01/2021","Wesley","27")')

In [6]:
#importando random
import random

In [7]:
random.randint(10,20)

20

In [8]:
for loop in range(10):
  numero = random.randint(10,20)
  cursor.execute(f'INSERT INTO Minha_Tabela VALUES ("01/01/2021","Wesley", {numero} )')

## SELECT

In [9]:
consulta = cursor.execute('SELECT * FROM Minha_Tabela').fetchall()
print(consulta)

[('01/01/2021', 'Wesley', 27.0), ('01/01/2021', 'Wesley', 12.0), ('01/01/2021', 'Wesley', 11.0), ('01/01/2021', 'Wesley', 17.0), ('01/01/2021', 'Wesley', 19.0), ('01/01/2021', 'Wesley', 17.0), ('01/01/2021', 'Wesley', 13.0), ('01/01/2021', 'Wesley', 10.0), ('01/01/2021', 'Wesley', 10.0), ('01/01/2021', 'Wesley', 13.0), ('01/01/2021', 'Wesley', 20.0)]

In [10]:
consulta2 = cursor.execute('SELECT Nome,Idade FROM Minha_Tabela').fetchall()
for linha in consulta2:
  print(linha)

('Wesley', 27.0)
('Wesley', 12.0)
('Wesley', 11.0)
('Wesley', 17.0)
('Wesley', 19.0)
('Wesley', 17.0)
('Wesley', 13.0)
('Wesley', 10.0)
('Wesley', 10.0)
('Wesley', 13.0)
('Wesley', 20.0)

In [11]:
consulta3 = cursor.execute('''
SELECT * FROM Minha_Tabela
Where Nome = 'Pedro'
''').fetchall()
print(consulta3)

[]

In [12]:
consulta4 = cursor.execute('''
SELECT * FROM Minha_Tabela
Where Idade > 25
''').fetchall()
print(consulta4)

[('01/01/2021', 'Wesley', 27.0)]

In [13]:
#BETWEEN
consulta5 = cursor.execute('''
SELECT * FROM Minha_Tabela
Where Idade  BETWEEN 15 AND 30
''').fetchall()
for Linha in consulta5:
  print(Linha)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 20.0)

## LIKE
Procura um padrão específico em uma linha
Há dois tipos usados com operador
1- (%) Apresenta zero, um ou vários caracteres ao lado
2- (_) Apresenta um único caractere

In [14]:
consulta6 = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE'%sl%'
    '''
).fetchall()
for linha in consulta6:
  print(linha)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 20.0)

### IN

In [15]:
#O operador IN é um atalho para várias condições OR
#Nesse caso ele vai selecionar todas as idades com 18,20 e 30. Fica muito mais rápido  que OR
consulta7 = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade IN(18,20,30)
    '''
).fetchall()
for linha in consulta7:
  print(linha)

('01/01/2021', 'Wesley', 20.0)

###AND, OR, NOT

In [16]:
#AND
consulta = cursor.execute(
    '''
    SELECT *FROM Minha_Tabela
    WHERE Idade = 20 AND Nome = 'Wesley'
    '''

).fetchall()
print(consulta)

[('01/01/2021', 'Wesley', 20.0)]

In [17]:
#OR
#AND
consulta = cursor.execute(
    '''
    SELECT *FROM Minha_Tabela
    WHERE Idade = 20 OR Nome = 'Wesley'
    '''

).fetchall()
for x in consulta:
  print(x)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 20.0)

### ORDER BY

In [18]:
#Ascendente
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE 'Wesley%'
    ORDER BY Idade
    '''
).fetchall()
for linha in consulta:
  print(linha)

('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 27.0)

In [19]:
#Descendente
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE 'Wesley%'
    ORDER BY Idade DESC
    '''
).fetchall()
for linha in consulta:
  print(linha)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 20.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)

### UPDATE
Utilizado para alterar um valor que já existe na tabela

In [20]:
#Baseado na minha Tabela
#Mudando o nome one a idade for 20
consulta = cursor.execute(
    '''
    UPDATE Minha_Tabela
    SET Nome = 'Wendel'
    WHERE Idade = 20
    '''
).fetchall()
#mostrando a tabela
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    ORDER BY Idade
    '''
).fetchall()

for x in consulta:
  print(x)

('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 11.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wendel', 20.0)
('01/01/2021', 'Wesley', 27.0)

###DELETE

In [21]:
consulta = cursor.execute(
    '''
    DELETE FROM Minha_Tabela
    WHERE Idade = 11
    '''
).fetchall()
#mostrando a tabela
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    ORDER BY Idade
    '''
).fetchall()

for x in consulta:
  print(x)

('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wendel', 20.0)
('01/01/2021', 'Wesley', 27.0)

### SELECT TOP

In [22]:
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    LIMIT 3
    '''
).fetchall()
for x in consulta:
  print(x)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 17.0)

### MIN/MAX

In [23]:
consulta = cursor.execute(
    ''' SELECT MIN(Idade) FROM Minha_Tabela
    '''
).fetchall()
for x in consulta:
  print(x)

(10.0,)

In [24]:
consulta = cursor.execute(
    ''' SELECT MAX(Idade) FROM Minha_Tabela
    '''
).fetchall()
for x in consulta:
  print(x)

(27.0,)

### COUNT/AVG/SUM

In [25]:
#Count conta quantos valores contem.
consulta = cursor.execute(
    ''' SELECT COUNT(Idade) FROM Minha_Tabela
        WHERE  Nome LIKE 'Wesley'
    '''
).fetchall()
for x in consulta:
  print(x)

(9,)

In [26]:
#AVG
consulta = cursor.execute(
    ''' SELECT AVG(Idade) FROM Minha_Tabela
    '''
).fetchall()
for x in consulta:
  print(x)

(15.8,)

In [27]:
consulta = cursor.execute(
    ''' SELECT SUM(Idade) FROM Minha_Tabela
    '''
).fetchall()
for x in consulta:
  print(x)

(158.0,)

###ALIASES
Dá um nome temporário a uma tabela

In [28]:
consulta = cursor.execute(
    ''' SELECT Idade AS Id FROM Minha_Tabela
    '''
).fetchall()
for x in consulta:
  print(x)

(27.0,)
(12.0,)
(17.0,)
(19.0,)
(17.0,)
(13.0,)
(10.0,)
(10.0,)
(13.0,)
(20.0,)

##JOINS

In [29]:
#INNER JOIN
consulta = cursor.execute(
    ''' CREATE TABLE Vendas(id real,valor real)
    '''
)
conexao.commit()

In [30]:
consulta = cursor.execute(
    ''' CREATE TABLE Vendedor(id real,nome text)
    '''
)
conexao.commit()

In [31]:
#VENDAS
consulta = cursor.execute(''' INSERT INTO Vendas VALUES(1,100)''')
consulta = cursor.execute(''' INSERT INTO Vendas VALUES(1,200)''')
consulta = cursor.execute(''' INSERT INTO Vendas VALUES(1,150)''')

consulta = cursor.execute(''' INSERT INTO Vendas VALUES(2,50)''')
consulta = cursor.execute(''' INSERT INTO Vendas VALUES(2,200)''')
consulta = cursor.execute(''' INSERT INTO Vendas VALUES(2,900)''')

consulta = cursor.execute(''' INSERT INTO Vendas VALUES(3,200)''')

In [32]:
#Cadastro Vendedores
consulta = cursor.execute(''' INSERT INTO Vendedor VALUES(1,"Arrascaeta")''')
consulta = cursor.execute(''' INSERT INTO Vendedor VALUES(2,"Gabigol")''')

In [33]:
consulta = cursor.execute(
    ''' SELECT * FROM Vendas
        JOIN Vendedor ON Vendas.id = Vendedor.id
    ''').fetchall()
for x in consulta:
  print(x)

(1.0, 100.0, 1.0, 'Arrascaeta')
(1.0, 200.0, 1.0, 'Arrascaeta')
(1.0, 150.0, 1.0, 'Arrascaeta')
(2.0, 50.0, 2.0, 'Gabigol')
(2.0, 200.0, 2.0, 'Gabigol')
(2.0, 900.0, 2.0, 'Gabigol')

In [34]:
#LEFT JOIN
consulta = cursor.execute(
    ''' SELECT * FROM Vendas
        LEFT JOIN Vendedor ON Vendas.id = Vendedor.id
    ''').fetchall()
for x in consulta:
  print(x)

(1.0, 100.0, 1.0, 'Arrascaeta')
(1.0, 200.0, 1.0, 'Arrascaeta')
(1.0, 150.0, 1.0, 'Arrascaeta')
(2.0, 50.0, 2.0, 'Gabigol')
(2.0, 200.0, 2.0, 'Gabigol')
(2.0, 900.0, 2.0, 'Gabigol')
(3.0, 200.0, None, None)

###UNION

In [35]:
#Combina dois ou mais SELECT
cursor.execute('CREATE TABLE Tabela1(id real, nome text)')
cursor.execute('CREATE TABLE Tabela2(id real, nome text)')
conexao.commit()

In [36]:
#Inserindo Valores
cursor.execute('INSERT INTO Tabela1 VALUES(1,"Bruno Henrique")')
cursor.execute('INSERT INTO Tabela1 VALUES(2,"Pereira")')
cursor.execute('INSERT INTO Tabela1 VALUES(3,"Deyverson")')

cursor.execute('INSERT INTO Tabela2 VALUES(1,"Pedro")')
cursor.execute('INSERT INTO Tabela2 VALUES(2,"Pablo")')
cursor.execute('INSERT INTO Tabela2 VALUES(3,"Diego")')

In [37]:
#Fazendo a união
consulta = cursor.execute(
    '''
    SELECT * FROM Tabela1
    UNION ALL
    SELECT * FROM Tabela2
    '''
).fetchall()
for x in consulta:
  print(x)

(1.0, 'Bruno Henrique')
(2.0, 'Pereira')
(3.0, 'Deyverson')
(1.0, 'Pedro')
(2.0, 'Pablo')
(3.0, 'Diego')

###GROUP BY

In [38]:
#Agrupa as linhas que tem os mesmos valores em linhas de resumo
#É usada com funções de agregação
consulta = cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    '''
).fetchall()
for x in consulta:
  print(x)

('01/01/2021', 'Wesley', 27.0)
('01/01/2021', 'Wesley', 12.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 19.0)
('01/01/2021', 'Wesley', 17.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 10.0)
('01/01/2021', 'Wesley', 13.0)
('01/01/2021', 'Wendel', 20.0)

In [40]:
consulta = cursor.execute(
    '''
    SELECT Nome, SUM(Idade) FROM Minha_Tabela
    GROUP BY Nome
        '''
).fetchall()
for x in consulta:
  print(x)

('Wendel', 20.0)
('Wesley', 138.0)